article { 
    background-color: transparent;
    box-shadow: none;
}

.calendario-programacion {
    display: flex;
    justify-content: center;
    align-items: center;

    --rdp-accent-color: var(--primary) !important; 
}
/* Cabecera mes */
.calendario-programacion .rdp-caption { 
    font-size: 1.25rem; 
    font-weight: 600; 
    color: var(--text); 
    margin-bottom: 0.5rem; 
}
/* Días semana */
.calendario-programacion .rdp-head_cell { 
    font-size: 0.85rem; 
    font-weight: 600; 
    color: var(--primary); 
    padding-bottom: 0.4rem; 
}
/* Días */
.calendario-programacion .rdp-day { 
    font-size: 0.95rem; 
    border-radius: 8px; 
    transition: all 0.2s ease; 
}

.calendario-programacion .rdp-day:hover { 
    background: var(--primary) !important;
    cursor: pointer; 
    color: #fff !important;
}
/*  Días elegidos */
.calendario-programacion .rdp .rdp-day--selected { 
    background: var(--primary) !important; 
    color: #fff !important; 
    font-weight: 600; 
    border-radius: 8px;
}
/* Días deshabilitados */
.calendario-programacion .rdp-day_disabled { 
    opacity: 0.4; 
    cursor: not-allowed; /*Muestra el cursor como un icono de prohibido*/
}

.calendario-container .btn-principal, 
.calendario-container .btn-secundario { 
    width: 100%; 
    margin-top: 1rem; 
    align-self: stretch; /* fuerza a ocupar el ancho */ 
}

.calendario-container h3 {
    color: var(--brown)
}

@media (min-width: var(--breakpoint-tablet)) {
    .calendario-programacion {
        --rdp-cell-size: 36px;
        padding: 1rem;
    }

    .calendario-programacion .rdp-caption { 
        font-size: 1.1rem; 
    }
}

@media (min-width: var(--breakpoint-desktop)) {
    .calendario-programacion { 
        --rdp-cell-size: 34px; 
        padding: 0.9rem;
    }

    .calendario-programacion .rdp-day { 
        font-size: 0.85rem; 
    }
}

@media (min-width: var(--breakpoint-landscape)) {
    .calendario-programacion { 
        --rdp-cell-size: 32px; 
        padding: 0.8rem; 
    } 

    .calendario-programacion .rdp-caption { 
        font-size: 1rem; 
    }
}