#root { 
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
} 

html, 
body { 
    height: 100%; 
} 

h1 {
  text-align: center;
}

.gestor-card {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.08);
  text-align: center;
  animation: fadeIn 0.4s ease;
  padding: 2rem 1.5rem; 
  margin: 0 1.5rem;
}

.gestor-card-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: var(--breakpoint-tablet)) {
  .admin-card {
    width: 80%;
    max-width: 700px;
  }

  .admin-card-info p {
    padding: 0.8rem;
  }
}

@media (min-width: var(--breakpoint-desktop)) {
  .admin-card {
    padding: 3rem 2.5rem;
  }

  .admin-card-info {
    gap: 1.4rem;
  }
}

@media (min-width: var(--breakpoint-landscape)) {
  .admin-card {
    padding: 3.2rem 3rem;
  }

  .admin-card-info p {
    font-size: 1.2rem;
    padding: 1rem 1.2rem;
  }
}
