.footer {
    background: linear-gradient( 
        to bottom, transparent, var(--brown)
    );
        
    width: 100%;
    padding: 1.2rem 1.5rem;
    margin-top: 2rem;
    font-size: 0.9rem; 
    opacity: 0.85;
    text-align: center;
}

.footer p {
    color: var(--primary)
}


@media (min-width: var(--breakpoint-tablet)) {
    .footer {
        padding: 1.5rem 2rem;
        font-size: 1rem;
    }
}

@media (min-width: var(--breakpoint-desktop)) {
    .footer {
        padding: 1.8rem 1rem;
        font-size: 1.05rem;
    }
}

@media (min-width: var(--breakpoint-landscape)) { 
    .footer {
        padding: 1.8rem 1rem;
        font-size: 1.05rem;
    }
}
