.footer {
    background: linear-gradient( 
        to bottom, transparent, var(--brown)
    );
        
    width: 100vw; /* para forzar que ocupe toda la pantalla - vw Representa el ancho visible de la pantalla*/
    margin-left: calc(50% - 50vw); /* rompe los contenedores de app e index */ 
    margin-right: calc(50% - 50vw);
    padding: 1.2rem 1.5rem;
    margin-top: 2rem;
    font-size: 0.9rem; 
    opacity: 0.85;
    text-align: center;
}

.footer p {
    color: var(--primary)
}


@media (min-width: var(--breakpoint-tablet)) {
    .footer {
        padding: 1.5rem 2rem;
        font-size: 1rem;
    }

}

@media (min-width: var(--breakpoint-desktop)) {
    .footer {
        padding: 1.8rem 1rem;
        font-size: 1.05rem;
    }

}

@media (min-width: var(--breakpoint-landscape)) { 
    .footer {
        max-width: 1200px;
        margin: 3rem auto 0 auto;
    }

}
