.grid-experiencias {
    background-color: transparent;
    box-shadow: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    padding: 2rem 1rem;
}