.imagen-experiencia-id {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;   
}

.imagen-experiencia-id img {
  width: 100%;
  height: auto;  
  object-fit: cover;  
  border-radius: 12px; 
  display: block;      
}
