.navbar-container {
    background: linear-gradient( 
        to top, transparent, var(--brown)
    );
  width: 100%;
  padding: 1rem 1.5rem;
  color: var(--text);

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  font-family: var(--font-title);
  font-size: 1.4rem;
  color: var(--primary);
}

  .toggle { 
    background: none; 
    border: none; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 40px; 
    height: 40px;
    padding: 0; 
  }

/* icono hamburguesa */
.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--text);
  transition: 0.3s ease;
  border-radius: 3px;
  background-color: var(--primary);
}

.hamburger::before {
  transform: translateY(-8px);
}

.hamburger::after {
  transform: translateY(5px);
}

/* icono X */
.hamburger.abrir {
  background-color: transparent;
}

.hamburger.abrir::before {
  transform: rotate(45deg);
}

.hamburger.abrir::after {
  transform: rotate(-45deg);
}

/* Menú móvil - Abrir desde la derecha */
.navbar {
  position: fixed;
  top: 70px;
  right: 0;
  width: 60%;
  height: 100vh;
  background: 
  linear-gradient(to right, var(--brown), #ffff);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  z-index: 500;
  padding: 1.5rem;

  transform: translateX(100%);   /* oculto hacia la derecha */
  transition: transform 0.35s ease;
}

.navbar.show {
  transform: translateX(0);      /* entra desde la derecha */
}

.navbar a {
  font-family: var(--font-text);
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffff;
  transition: color 0.2s ease;
}

.navbar a::after { 
  content: ""; 
  position: absolute; 
  left: 0; 
  bottom: -2px; 
  width: 0%; 
  height: 2px; 
  background-color: var(--primary); 
  transition: 
  width 0.3s ease; 
} 

.navbar a:hover { 
  color: var(--primary); 
} 

.navbar a:hover::after { 
  width: 100%; 
}

.navbar a.active {
  color: var(--primary);
  font-weight: 600;
}

@media (min-width: var(--breakpoint-tablet)) {
  .toggle {
    display: none;
  }

  .navbar {
    position: static;
    transform: none;
    flex-direction: row;
    gap: 2rem;
    background: none;
    padding: 0;
    width: auto;
  }

  .navbar a {
    font-size: 1rem;
  }
}

@media (min-width: var(--breakpoint-desktop)) {
  .navbar-container {
    padding: 1.5rem 2rem;
  }

  .navbar {
    gap: 2.5rem;
  }

  .navbar a {
    font-size: 1.05rem;
  }
}

@media (min-width: var(--breakpoint-landscape)) {
  .navbar-container {
    padding: 2rem 3rem;
  }

  .navbar {
    gap: 3rem;
  }

  .navbar a {
    font-size: 1.1rem;
  }
}
