.grid-reserva {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;
    padding: 2rem 0;
}

@media (min-width: var(--breakpoint-tablet)) { 
    .reservas-grid { 
        grid-template-columns: repeat(2, 1fr); 
    } 
}

@media (min-width: var(--breakpoint-desktop)) { 
    .reservas-grid { 
        grid-template-columns: repeat(3, 1fr); 
    } 
}

@media (min-width: var(--breakpoint-landscape)) { 
    .reservas-grid { 
        grid-template-columns: repeat(4, 1fr); 
    } 
}