@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&amp;family=Poppins:wght@300;400;500;600&amp;display=swap');

/* VALORES REUTILIZABLES */
:root {
    /* Colores */
    --primary: #c33149;
    --secondary: #A8C256;
    --tan: #C29979;
    --darkred: #A22522;
    --error: #A22522;
    --brown: #C29979;
    --text: #0a0a0a;

    /* Breakpoints */
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 992px;
    --breakpoint-landscape: 1200px;

    /* Tipografías */
    --font-title: "Playfair Display", serif;
    --font-text: 'Poppins', sans-serif;

    /* Tipografías tamaños */
    --h1: 2.2rem;
    --h2: 1.8rem;
    --h3: 1.5rem;
    --h4: 1.25rem;
    --h5: 1.1rem;
    --h6: 1rem;
    --body: 1rem;
}

/* SETEA TODO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Incluye contenido + padding + border*/
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

select {
    all: unset; /* Para quitar el estilo predefinido del navegador */
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 1.2rem 1rem;

    background-color: #ffff;
    border: 1.5px solid var(--tan);
    border-radius: 0.75rem;

    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--text);
    /* Quita la flecha */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

/*Cuando el usuario pasa con el ratón por encima*/
select:hover {
    border-color: var(--primary);
}

/*Cuando el elemento está activo*/
select:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(162, 37, 34, 0.15);
}

/*Clases flexbox*/
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {
    font-family: var(--font-text);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;

    background: linear-gradient(
        to bottom, 
        #FFF7F0 0%, 
        #F3E3D4 40%, 
        #E8D3C0 100%) no-repeat fixed;

    background-size: cover; /* Cubre todo el espacio */
}

.loading {
    color: var(--primary); 
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

html, body { 
    height: 100%; 
} 

html {
    min-height: 100%;
    height: auto;
}

main {
    flex: 1;
    justify-content: center; 
    align-items: center; 
    padding: 2rem 0;
}

section {
    background-color: #ffff;
    border-radius: 1.5rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    margin: 0 1.5rem;
}

article {
    padding: 0 1rem;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

/*Selecciona todos los divs que no sea el último hijo de un contenedor*/
div:not(:last-child) {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    color: var(--primary);
}

header h1 {
    text-align: center;
}

h2 {
    color: var(--tan);
}

p, 
label {
    color: var(--text);
}

label {
    text-align: left;
    display: block;
}

p,
input {
    font-family: var(--font-text);
    margin-bottom: 1rem;
}

ul {
    padding-bottom: 1rem;
    padding-left: 1.5rem;
}

a {
    color: var(--secondary);
    font-weight: 600;
}

a:hover {
    color: var(--brown);
}

.errores {
    color: red;
    font-family: var(--font-text);
}

.oks {
    color: green;
    font-family: var(--font-text);
}

/*Div princiapl de react*/
#root { 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
} 

/* BOTONES */
.btn-principal {
    width: 100%;
    padding: 1rem;
    background-color: var(--darkred);
    color: #ffffff;

    font-family: var(--font-text);
    font-size: var(--body);
    font-weight: 600;

    border: none;
    border-radius: 0.75rem;

    box-shadow: 0 6px 16px rgba(162, 37, 34, 0.25);
    transition:
        background-color 0.2s ease, /*Empieza rápido, termina suave*/
        transform 0.2s ease;
    box-shadow: 0.2s ease;
    margin-bottom: 1rem;
}

/* Animación cuando se pasa por encima */
.btn-principal:hover {
    background-color: var(--darkred);
    transform: translateY(-2px); /* Eleva el botón */
    box-shadow: 0 10px 22px rgba(162, 37, 34, 0.35); /* "Agranda la sombra paralela" */
}

/* Animación cuando se pulsa */
.btn-principal:active {
    transform: translateY(0); /* Vuelve a su posición original */
    box-shadow: 0 4px 12px rgba(162, 37, 34, 0.2); /* La sombra se hace más pequeña */
}

.btn-secundario {
    width: 100%;
    padding: 1rem;
    background-color: #ffff;
    color: var(--primary);

    font-family: var(--font-text);
    font-size: var(--body);
    font-weight: 600;

    border: 1px solid var(--primary);
    border-radius: 0.75rem;

    transition:
        background-color 0.2s ease,
        color 0.2s ease,
        border-color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

/* Animación cuando se pasa por encima */
.btn-secundario:hover {
    background-color: #f2f2f2;
    border-color: var(--primary);
    color: var(--darkred);
    transform: translateY(-2px); /* Eleva el botón */
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08); /* "Agranda la sombra paralela" */
}

/* Animación cuando se pulsa */
.btn-secundario:active {
    transform: translateY(0); /* Vuelve a su posición original */
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05); /* La sombra se hace más pequeña */
}

/* Popup */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
    padding: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #ffff;
    padding: 2rem;
    border-radius: 12px;
    max-width: 420px;
    width: 100%;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.25s ease-out; /*Rápido al inicio, suave al final*/
}

@keyframes fadeIn {
    from {
        opacity: 0; /*Empieza transparente un poco más pequeño del 100%*/
        transform: scale(0.95);
    }

    to {
        opacity: 1; /*Termina visible a tamaño normal*/
        transform: scale(1);
    }
}

.popup h3 {
    color: var(--tan);
    margin-bottom: 1.5rem;
}

.popup button {
    margin-bottom: 1rem;
}

@media (min-width: var(--breakpoint-tablet)) {
    :root {
        --h1: 2.6rem;
        --h2: 2.2rem;
        --h3: 1.8rem;
        --h4: 1.5rem;
        --h5: 1.25rem;
        --h6: 1.1rem;
        --body: 1rem;
    }
    
    article {
        margin-bottom: 3rem;
        padding: 1.25rem;
    }

    .container {
        max-width: 720px;
    }

    .btn-principal {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .btn-secundario {
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: #fff;
    }

    .flex-container {
        flex-direction: row;
        gap: 1.25rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
        margin-bottom: 1.25rem;
    }

    p,
    input {
        margin-bottom: 1.25rem;
    }

    ul {
        padding-bottom: 1.25rem;
        padding-left: 2rem;
    }

    .popup {
        padding: 2rem;
        border-radius: 10px;
        max-width: 420px;
    }
}

@media (min-width: var(--breakpoint-desktop)) {
    :root {
        --h1: 3rem;
        --h2: 2.4rem;
        --h3: 2rem;
        --h4: 1.6rem;
        --h5: 1.3rem;
        --h6: 1.1rem;
        --body: 1.05rem;
    }

    article {
        margin-bottom: 3.5rem;
        padding: 1.5rem;
    }

    .container {
        max-width: 960px;
    }

    .flex-container {
        gap: 1.5rem;
        justify-content: space-between;
    }

    .btn-principal {
        font-size: var(--body);
        padding: 1rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    .btn-secundario {
        font-size: var(--body);
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    p,
    input {
        margin-bottom: 1.5rem;
    }

    ul {
        padding-bottom: 1.5rem;
        padding-left: 2.5rem;
    }

    .popup {
        padding: 2.5rem;
        max-width: 450px;
    }
}

@media (min-width: var(--breakpoint-landscape)) {
    :root {
        --h1: 3.4rem;
        --h2: 2.8rem;
        --h3: 2.2rem;
        --h4: 1.8rem;
        --h5: 1.4rem;
        --h6: 1.2rem;
        --body: 1.1rem;
    }

    article {
        margin-bottom: 4rem;
        padding: 2rem;
    }

    .container {
        max-width: 1140px;
    }

    .flex-container {
        gap: 2rem;
        justify-content: space-evenly; /*Distribuye a lo largo del eje*/
    }

    .btn-principal {
        font-size: var(--body);
        padding: 1.2rem;
        border-radius: 0.85rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .btn-secundario {
        font-size: var(--body);
        padding: 1.2rem;
        border-radius: 0.85rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    p,
    input {
        margin-bottom: 1.5rem;
    }

    ul {
        padding-bottom: 2rem;
        padding-left: 3rem;
    }

    .popup {
        max-width: 180px;
    }
}